* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}

body {
  font-family: 'Lato', sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../IMG/banner.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 15px 0;
}

.one-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  border-radius: 25px 0 0 25px;
  background: white;
  padding: 15px 100px;
}

h1 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 15px 0;
  font-style: italic;
}

input {
  padding: 5px;
  margin: 10px 0;
  border: 1px solid black;
  border-radius: 10px;
}

.totalPecas {
  display: inline-block;
  padding: 10px 0 10px;
}

.verTotalPecas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.text {
  font-weight: 700;
  margin: 15px 0;
}

.custoPedido {
  font-weight: 700;
  margin: 15px 0;
}

.trasportadora {
  display: flex;
  align-items: center;
}

.fast-entregas {
  margin: 0 10px 0 0;
}

.img-fast {
  height: 100px;
  margin: 0 10px 0 0;
}

.img-ligeirinho {
  height: 98px;
  margin: 0 10px 0 0;
}

.two-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100%;
  border-radius: 0 25px 25px 0;
  background: white;
  padding: 15px 100px;
}

.button {
  padding: 10px 0 0 0;
  margin: 0 auto;
}

.buttonEnviar {
  padding: 8px 13px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 5px;
  border: 1px solid black;
  background-color: #D3D3D3;
}

.buttonEnviar:hover {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}