* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  vertical-align: baseline;
  box-sizing: border-box;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Merriweather', serif;
  scroll-behavior: smooth;
}

main {
  background: linear-gradient(180deg, rgba(248, 248, 255, 1) 50%, rgba(105, 105, 105, 1) 100%);
  padding: 50px 50px;
  color: black;
  font-weight: 700;
  height: 100%;
}

/* CABEÇALHO */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  background: black;
}

.logo {
  display: flex;
  align-items: center;
}

.img-polia {
  height: 130px;
  margin-right: 10px;
}

header h1 {
  color: white;
  font-weight: 700;
  font-size: 45px;
}

header p {
  color: white;
  text-align: end;
  font-style: italic;
  font-size: 12px;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin-right: 10px;
  font-size: 22px;
}

/* HISTÓRIA */

.historia {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  font-size: 21px;
  margin: 0 0 35px 0;
}

.apresentacao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

.img-tipos-roldanas {
  margin-right: 50px;
}

.imgap {
  align-items: center;
  border-radius: 20px;
  height: 280px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  transition: 0.1ms;
}

.imgap:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.texto-ap {
  padding-right: 160px;
}

.texto-ap h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}

.texto-ap p {
  font-weight: 400;
  margin-bottom: 20px;
}

.texto-ap ul {
  margin-bottom: 20px;
}

.qualidades {
  display: grid;
}

/* Accordion styles */

.tab-container {
  width: 100%;
  height: 310px;
  padding: 0 100px;
  margin-top: 50px;
}

.tabs {
  position: relative;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.tab {
  position: relative;
  max-width: 600px;
  height: 100%;
  width: 100%;
  color: #293639;
  overflow: hidden;
  z-index: 1000;
}

.tab>input {
  display: none;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #C0C0C0;
  font-weight: bold;
  cursor: pointer;
  border-radius: 12px;
}

/* Icon */

.tab-label:hover {
  background: #DCDCDC;
}

.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #293639;
  background: white;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: all 0.45s;
}

/* :checked */

input:checked+.tab-label {
  background: #fff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 10px 30px 0 30px;
}

input:checked~.tab-content {
  max-height: 100vh;
  padding: 10px 30px;
}

input:checked~.tab-label>.arrowBackground {
  background-color: #000;
}

input:checked~.tab-label>.arrowBackground>.arrowAdd {
  position: relative;
  top: -2px;
  transition: 450ms;
  filter: brightness(100);
}

.arrowBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  user-select: none;
}

/* PRODUTOS */

.cointainer-produtos {
  width: 100%;
  height: 1050px;
}

.produtos {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  font-size: 21px;
  margin: 0 0 35px 0;
}

.imagens {
  display: grid;
  padding: 0 150px;
}

.tipos-roldanas {
  display: flex;
  text-align: center;
  align-items: center;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  margin-bottom: 35px;
}

.estilos-roldanas {
  display: grid;
}

.estilos-roldanas:hover {
  color: blue;
  cursor: pointer;
}

.tipos-roldanas h3 {
  margin-top: 10px;
  font-size: 20px;
}

.tipos-roldanas p {
  padding: 0 50px;
}

.estilos-roldanas p {
  font-size: 14px;
  padding: 0;
}

.img-roldana {
  height: 150px;
}

/* PEDIDOS */

.container-pedidos {
  width: 100%;
  height: 500px;
  padding: 0 150px;
}

.pedidos {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  font-size: 21px;
  margin: 0 0 25px 0;
}

.pedidos h2 {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}

.aba-pedidos {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.text-input {
  margin: 0 35px 35px 0;
}

#text-margin {
  margin: 0 0 35px 0;
}

.text-input p {
  margin-bottom: 5px;
  font-weight: 600;
}

.text-input input {
  border-radius: 5px;
  padding: 5px 7px;
  font-style: italic;
}

.ver-total-pecas {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.button-pecas {
  padding: 10px 39px;
  border-radius: 5px;
  cursor: pointer;
}

.inv-button {
  margin: 0 22px;
}

.button-peso {
  padding: 10px 37px;
  border-radius: 5px;
  cursor: pointer;
}

.style-js {
  display: flex;
  justify-content: space-between;
}

.inv {
  width: 80px;
}

.pecas {
  font-size: 24px;
}

.custoPedido {
  font-size: 24px;
}

/* COMPLEMENTAR */

.img-bp {
  background-image: url(../IMG/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 480px;
  width: 100%;
  background-attachment: fixed;
}

.video-mapa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 60px 0 60px;
}

.video-mapa h2 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 900;
  color: white;
}

.video {
  border-radius: 10px;
}

.negociacao {
  display: none;
}

.mapa {
  border-radius: 10px;
}

.neg {
  width: 510px;
  height: 315px;
  border-radius: 10px;
  background-size: contain;
}

footer {
  background: black;
  height: 400px;
}

.rodape {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 50px 250px;
  color: white;
}

.rodape h1 {
  font-weight: 900;
}

.rodape p {
  font-size: 10px;
}

.img-rodape {
  height: 100px;
}

.content-rodape {
  display: flex;
  justify-content: space-between;
  padding: 20px 250px;
  text-align: left;
}

.itens-contato {
  display: grid;
  gap: 20px;
  color: white;
}

.itens-contato a {
  text-decoration: none;
  color: white;
}

.itens-contato h3 {
  color: rgb(3, 170, 3);
  text-transform: uppercase;
  font-size: 18px;
}

.itens-contato p {
  justify-content: left;
}

.social {
  display: grid;
  text-align: right;
  color: rgb(3, 170, 3);
  text-transform: uppercase;
}

.social h3 {
  font-size: 18px;
  margin-bottom: 44px;
}

.rodape>*:not(:first-child) {
  margin-left: 10px;
}

.link {
  text-decoration: none;
}

.linkedin {
  width: 40px;
}

.instagram {
  width: 40px;
}

.facebook {
  width: 40px;
}

.direitos {
  text-align: center;
  margin: 20px 0 0 0;
  color: white;
  font-size: 12px;
}

@media screen and (max-width: 1440px) {
  .apresentacao {
    padding: 0;
  }
  .texto-ap {
    padding-right: 150px;
  }
  .tab-container {
    padding: 0;
  }
  .tab-label {
    padding: 15px 25px;
  }
  .container-pedidos {
    padding: 0 20px;
  }
  .buttonEnviar {
    padding: 10px 25px;
  }
  .img-bp {
    height: 100%;
  }
  .video-mapa {
    padding: 52px 60px;
  }
  footer {
    height: 370px;
  }
  .rodape {
    padding: 25px 100px;
  }
  .content-rodape {
    padding: 25px 100px;
  }
}

@media screen and (max-width: 1280px) {
  .apresentacao {
    padding: 0;
  }
  .texto-ap {
    padding: 0;
  }
  .tab-label {
    font-size: 14px;
    padding: 12px 18px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    padding: 20px 50px;
  }
  header h1 {
    font-size: 35px;
  }
  header a {
    font-size: 18px;
  }
  .img-polia {
    height: 100px;
  }
  .apresentacao {
    display: grid;
    padding: 0;
  }
  .tab-label {
    font-size: 12px;
    padding: 12px 13px;
  }
  .container-pedidos {
    height: 450px;
  }
  .buttonEnviar {
    padding: 10px 28px;
  }
  .pecas {
    font-size: 20px;
  }
  .custoPedido {
    font-size: 20px;
  }
  .img-tipos-roldanas {
    display: grid;
    justify-content: center;
    margin: 0 0 35px 0;
  }
  .imgap {
    height: 350px;
  }
  .imagens {
    padding: 0;
  }
  .video-mapa {
    padding: 50px 80px
  }
  .video {
    width: 400px;
    height: 250px;
  }
  .mapa {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 834px) {
  main {
    padding: 25px;
  }
  header {
    padding: 20px 20px;
  }
  header h1 {
    font-size: 35px;
  }
  header p {
    font-size: 10px;
  }
  header a {
    margin-right: 5px;
    font-size: 18px;
  }
  .container-pedidos {
    padding: 0;
  }
  #text-margin {
    margin: 0 0 35px 0;
  }
  .pedido-produtos {
    display: flex;
    text-align: center;
  }
  .text-input {
    margin: 0 20px 20px 0;
  }
  .inv {
    display: none;
  }
  .container-pedidos {
    height: 430px;
  }
  .buttonEnviar {
    padding: 10px 28px;
  }
  .ver-total-pecas {
    display: flex;
    align-items: center;
  }
  .pecas {
    font-size: 18px;
  }
  .custoPedido {
    font-size: 18px;
  }
  .img-bp {
    height: 820px;
  }
  .video-mapa {
    display: grid;
    justify-content: center;
    padding: 40px;
  }
  .video {
    width: 600px;
    height: 315px;
    margin-bottom: 21px;
  }
  .mapa {
    width: 600px;
    height: 315px;
  }
}

@media screen and (max-width: 768px) {
  .text-input {
    margin: 0 10px 35px 0;
  }
  .pecas {
    font-size: 16px;
  }
  .custoPedido {
    font-size: 16px;
  }
  .rodape {
    padding: 20px 50px;
  }
  .content-rodape {
    padding: 20px 50px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding: 20px 7px;
  }
  .img-polia {
    height: 70px;
  }
  header h1 {
    font-size: 25px;
  }
  header p {
    font-size: 9px;
  }
  header a {
    font-size: 11px;
  }
  .imgap {
    height: 260px;
  }
  .tab-container {
    margin-top: 25px;
    height: 670px;
  }
  .tabs {
    display: grid;
    justify-content: start;
  }
  .tab-label {
    padding: 12px 30px;
    font-size: 17px;
  }
  .arrowBackground {
    margin-left: 15px;
  }
  .container-pedidos {
    height: 650px;
  }
  .aba-pedidos {
    display: grid;
  }
  .img-bp {
    height: 770px;
  }
  .video-mapa {
    padding: 15px;
  }
  .video {
    width: 500px;
    height: 315px;
  }
  .mapa {
    width: 500px;
    height: 315px;
  }
  footer {
    background: black;
    height: 520px;
  }
  .content-rodape {
    display: grid;
    justify-content: space-between;
    padding: 0;
    text-align: left;
  }
  .linkedin {
    width: 30px;
  }
  .instagram {
    width: 30px;
  }
  .facebook {
    width: 30px;
  }

}